<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @recipient.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recipient.email %>
</p>

<p>
  <strong>Message sent:</strong>
  <%= @recipient.message_sent %>
</p>

<p>
  <strong>Has responded:</strong>
  <%= @recipient.has_responded %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
